<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		link(rel="stylesheet", href="bower_components/normalize.css/normalize.css")
		link(rel="stylesheet", href="bower_components/swiper/dist/css/swiper.min.css")
		link(rel="stylesheet", href="css/main.css")
		title UWC
	body
		.header-wrapper
			header.main-header
				img.logo(src="images/logo.png")
				ul.first-level-list
					li.item-level-list-menu Produkty
						ul.second-level-nav-list
							each val in ["Rolety", "Venkovní žaluzie", "Venkovní žaluzie","Systémové parapety", "Vrata", "Sítě proti hmyzu", "Barvy rolet a žaluzi", "Spočítejte si cenu"]
								li.item-second-list-level
									.image-item
										p.title-in-image-item=val
									p.title-under-image-item=val
					each val in ["Konfigurátor","Novinky","O společnosti", "Kontakt"]
						li.item-level-list-menu=val
				.open-menu-button
					div
					div
					div
				.select-lang
					p.item-lang.cz CZ
					p.item-lang.gr GR
					p.item-lang.en EN
		.first-block-wrapper
			.first-block
				p.main-title Vyrábíme pro Vás předokenní rolety
				p.sub-title pro zabudování v novostavbách i pro dodatečnou montáž
				p.third-title Garance nejlepší ceny
				.our-products-title-block
					.line
					p.title-our-products Naše produkty
					.line
					ul.first-block-menu
						each val in ["Rolety", "Markýzy", "Vrata", "Sítě proti hmyzu", "Venkovní žaluzie","Systémové parapety"]
							li=val
		.slider-block.swiper-container
			section.swiper-wrapper
				.slider-item.swiper-slide 
					span spočítejte si cenu 
					br
					|Jen dva kroky k vaší ceně
					.bookmark Slevový pokaz
				.slider-item.swiper-slide
					span Akce
					br
					|Výhoda pro žaluzie PRO-VARIO-Z!
					.bookmark Slevový pokaz
				.slider-item.swiper-slide
					span Konfigurátor
					br
					|Obarvěte si sami Váš dům
					.bookmark Slevový pokaz
				.slider-item.swiper-slide 
					span spočítejte si cenu 
					br
					|Jen dva kroky k vaší ceně
					.bookmark Slevový pokaz
				.slider-item.swiper-slide
					span Akce
					br
					|Výhoda pro žaluzie PRO-VARIO-Z!
					.bookmark Slevový pokaz
				.slider-item.swiper-slide
					span Konfigurátor
					br
					|Obarvěte si sami Váš dům
					.bookmark Slevový pokaz
			section.swiper-pagination
		.block-with-articles
			.orange-white-content
				.orange-title PRO-VARIO-R a PRO-VARIO-Z výhodněji!
				.white-title Barvy rolet a žaluzií do překladu VARIO… ZDARMA!
			.articles
				.left-articles
					p.title-article Rolety
					article
						|Možná přemýšlíte nad různými nabídkami 
						|na předokenní rolety od různých výrobců a 
						|prodejců a nemůžete se rozhodnout. 
						|Zkusíme Vám v tom trochu pomoci. 
					p.title-article.second-title-article Jak vybírat rolety?
					article
						|Na trhu v ČR je několik výrobců rolet a několik desítek, 
						|možná i stovek prodejců stínící a roletové techniky. Říkáte si, 
						|je třeba kupovat rolety výhradně přímo u výrobce? Myslíme, že určitě 
						|ne. Naopak řada obchodních a montážních firem, která 
						|prodává (a nevyrábí) předokenní rolety a také další 
						|stínící techniku to dělá na prvotřídní, profesionální úrovni, 
						|dokonce jsou leckdy tyto služby komplexnější a díky působení 
						|v regionu i rychlejší a levnější, než dodávka od 100 a více km 
						|vzdáleného výrobce, který by za Vámi cestoval s montážní partou.
				.right-articles
					p.title-article Pro jaké rolety se tedy rozhodnout?
					article
						|Dodavatele pro rolety vybírejte nejlépe 
						|v regionu, kde se nachází Váš dům nebo byt. 
						|Seznam regionů, ve kterých najdete nejbližšího 
						|autorizovaného prodejce rolet PROALU, roztříděných 
						|podle krajů a měst ČR, naleznete na straně 
						span Spočítejte si cenu 
						| a 
						span Kontakt 
						|.
					p.title-article.second-title-article A co je výsledkem?
					article
						|Kvalitní předokenní rolety „made by PROALU“, 
						|jsou přesně ty rolety, co jste si vybrali - 
						|profesionálně zaměřené, dodané a namontované 
						|autorizovaným prodejcem z Vašeho regionu. Prodejce je 
						|schopen zajistit díky své regionální působnosti na rolety 
						|rychlý záruční nebo pozáruční servis. Bonusem navíc je 
						|jistota, že veškeré dopravní náklady spojené např. s 
						|pozáručním servisem jsou opravdu minimální.
		footer.main-footer
			.top-part-footer-wrapper
				.top-part-footer
					img(src="images/becker.png", alt="")
					p.text-logo-becker s motory od německého výrobce BECKER
					ul
						each val in ["Reference", "Ke stažení", "Partneři"]
							li=val
					p.phone-number 800 155 000
					p.email info@proalu.cz
					.facebook-wrapper
						.facebook
							p.text-facebook To se mi líbí
							p.number-facebook 158
			.bottom-part-footer
				p.developers Designed and developed by
				img(src="images/logoCreativin.png")
				p.copyright Copyright © Proalu, s.r.o. 2013-2015
		.contact-us-fixed-button Contact us
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/swiper/dist/js/swiper.js")
		script(src="minjs/main.js")